* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
	font-size: 16px;
}

#sidebar {
	background-color: #333;
	height: 100%;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 1;
}
ul,
ul li {
	list-style: none;
}

#sidebar .buttons li {
	text-align: center;
}

#sidebar .buttons li.active {
	background: #e78170;
}

#sidebar .buttons li.active a:hover{
	background: #e78170;
}

#sidebar .buttons li a {
	padding: 20px 0;
	color: #fff;
	display: block;
	text-decoration: none;
	font-size: 16px;
	-webkit-transition: color .2s cubic-bezier(.4, .01, .165, .99);
	transition: color .2s cubic-bezier(.4, .01, .165, .99);
}
#sidebar .buttons li a:hover {
	text-shadow: 0 1px 0 #de533a;
	background: #f49484;
	color: #fff;
}
.post-list li a{
	font-size: 18px;
	padding-left: 20px;
	font-weight: 200;
}

#con{
	float: left;
	padding-left: 260px;
}
