<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="http://userand.github.io/blog/static/css/syntax.css"/>
		<link rel="stylesheet" href="http://userand.github.io/blog/static/css/main.css" />
	</head>
	<body>
		
		<nav id="sidebar" class="behavior_1">
		<div class="wrap">
			<div class="profile">
				
			<ul class="buttons">
				<li class="active">
					<a href="/blog/" title="首页"> <i class="iconfont icon-home"></i> <span>首页</span></a>
				</li>
				<li>
					<a href="javascript:;" title="关于我"> <i class="iconfont icon-archive"></i> <span>关于我</span></a>
				</li>
			</ul>
		</div>
	</nav>
		<div id="con">
			{{ content }}
		</div>
	</body>
</html>